.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #000000, #111111);
  backdrop-filter: blur(10px);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;

  
}
.navbar li {
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.navbar li::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #e63946;
  transition: 0.3s;
}

.navbar li:hover::after{
  width: 100%;
}

.navbar li:hover{
  color: red;
}
.navbar ul{
  list-style: none;
  display: flex;
  gap: 30px;
  padding-right: 24px;
}

.navbar-logo{
  height: 100px;
  transition: 0.3s;
}

.navbar-logo:hover{
  transform: scale(1.1);
}

.navbar-logo img{
  height: 95%;
  width: auto;
  padding-left: 30px;
}