

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 60px;
  max-width: 1000px;
  margin: 0 auto;
}

.product-card{
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
  max-width: 280px
}

.product-card:hover{
  transform: translateY(-10px);
}

.product-card img{
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: 0.4s ease;
}

.product-card:hover img{
  transform: scale(1.05);
}

.product-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: left;
}

.product-info h3{
  font-size: 18px;
  font-weight: 600;
  color: rgb(116, 116, 116);
  margin-bottom: 8px;
}

.price{
  font-size: 1.3rem;
  font-weight: bold;
  color: #e63946;
  margin-bottom: 15px;
}

.buy-btn{
  background: linear-gradient(90deg, #c40000, #ff1a1a);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 8px;
}

.buy-btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(255,0,0,0.4);
}

.cart-btn{
  background: transparent;
  border: 2px solid #c40000;
  color: #c40000;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cart-btn:hover{
  background: #c40000;
  color: white;
}

.rating{
  color: rgb(171, 153, 48);
  margin: 8px 0;
  font-size: 18px;
  letter-spacing: 2px;
}